.mj-linkingtile p,
.mj-linkingtile h1,
.mj-linkingtile h2,
.mj-linkingtile h3,
.mj-linkingtile h4,
.mj-linkingtile h5,
.mj-linkingtile h6 {
  margin: 0;
}

.mj-linkingtile {
  padding-left: 10px;
  padding-right: 10px;
}
